

.address-link {
    color: #434455;
    list-style: none;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight:400;
  
}
.nav-link {
    color: #2E2F42;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
   
}
.logo-header{
    color: #2E2F42;
    text-decoration: none;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.33;
   letter-spacing: 0.03em;
}
.logo-studio{
    color: #2E2F42;
}

.address-list {
    list-style: none;
    font-style: normal;
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
   
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
   
}


.logo-web{
    color: #4D5AE5;
}

.nav-link:hover{
    color: #404BBF;
}
.nav-link:focus{
    color: #404BBF;
}

.address-link:hover{
    color: #404BBF;
}

.address-link:focus{
    color: #404BBF;
}

.header {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    gap: 40px;
    
}