.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    
   

    
    
   
    
   
}
.button {
    background-color:#4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 4px;

   
    
}
.hero-title{

 color: #FFFFFF;
 font-size: 56px;
 line-height: 1.07;
 letter-spacing: 0.02em;

 margin: 0 auto 48px;
 max-width: 496px;
}

.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
